

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.saved-page {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {

    padding-top: 20px;
    padding-left: 30px;

    padding-bottom: 0px;
  }

  
  .header h1 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
  }
  
  .saved-items {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
  }

  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .saved-item {
    background-color: #e0f7fa;
    margin: 10px;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

  }
  
  .item-type {
    color: #98A8BA;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  
  .item-text {
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "";
    margin-right: 8px;
    
  }
  
  .item-actions {
    display: flex;
    align-items: center;
  }
  
  .star {
    color: gold;
    margin-right: 10px;
  }
  
  .dots {
    font-size: 20px;
  }
  

  