.container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3.52%;
}

.nameContainer {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  width: 98px;
  height: 74px;
  text-align: right;
}

.welcomeLabel {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.nameLabel {
  font-family: var(--font-baloo-2), sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-top: -10px;
}
