.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 344px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.choicesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 344px;
  gap: 15px;
}

.questionLabel {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: var(--primary);
  text-align: left;
}

.choiceText {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--primary);
}

.button {
  height: 48px;
  border-radius: 100px;
  padding: 8px 12px 8px 12px;
  background-color: rgba(229, 229, 229, 1);
  color: rgba(51, 51, 51, 1);
  font-family: var(--font-baloo-2), sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  border: none;
  cursor: pointer;
}
