.container {
  position: fixed;
  height: 104px;
  z-index: -1;
}

.subContainer {
  display: flex;
  height: 38px;
  align-items: center;
  position: relative;
  top: 68px;
  left: 36px;
  gap: 15px;
}

.text {
  margin: 0;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/* centre on large screens (tablets, laptops) */
@media screen and (min-width: 400px) {
  .container {
    left: calc(50% - 200px);
  }
}

/* shrink on very small screens (iPhone SE) */
@media screen and (max-height: 750px) {
  .container {
    height: 60px;
  }
  .subContainer {
    top: 20px;
  }
}
