.savedPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 94px;
  padding: 24px 24px 80px 24px;
}

.savedItems {
  overflow: auto;
  position: fixed;
  gap: 16px;
  height: calc(100vh - 104px - 107px);
  width: calc(100% - 49px);
  /* use grid to fill more space on a bigger screen */
  max-width: 712px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* adjust for smaller header on very small screens (iPhone SE) */
@media screen and (max-height: 750px) {
  .savedPage {
    top: 50px;
  }
  .savedItems {
    height: calc(100vh - 60px - 107px);
  }
}

.top {
  display: flex;
  width: 100%;
  height: 32px;
  justify-content: space-between;
}

.savedItem {
  background-color: var(--faintBlue);
  padding: 8px;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.itemType {
  color: var(--secondary);
  font-size: 16px;
  font-family: var(--font-poppins), sans-serif;
}

.itemText {
  flex: 1;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--primary);
  font-family: var(--font-poppins), sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.itemActions {
  display: flex;
  align-items: center;
  color: var(--secondary);
}
