.container {
  height: 130px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  gap: 10px;
}

.userIdentityContainer {
  display: flex;
  flex-direction: column;
}

.handle {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary);
}

.name {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--primary);
}

.logoutBtn {
  border-width: 3px;
  border-radius: 30px;
  border-color: var(--faintGrey);
  background-color: #ffffff00;
  width: 91px;
  height: 36px;
}

.logoutText {
  font-family: var(--font-baloo-2), sans-serif;
  color: var(--primary);
  font-weight: 600;
  font-size: 20px;
}
