.container {
  background-color: transparent;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subContainer {
  position: absolute;
  width: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 7.98%;
}

.temp {
  position: fixed;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: white;
  z-index: 1;
}
